extends layouts/main-layout.pug

block content
    if errorMessageChat 
        span.errorMessageChat #{errorMessageChat}
    else
        script. 
            var chatId = '!{chat._id}';

        .chatPageContainer 
            .chatTitleBarContainer 
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal") #{chat.chatName}

            .mainContentContainer 
                .chatContainer 
                    .chatMessages
                    .footer 
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane
        +createchatNameModal(chat)

block scripts
    script(src="/js/chatPage.js")