extends layouts/login-layout.pug

block content
    .loginContainer 
        img(src="https://abs.twimg.com/icons/apple-touch-icon-192x192.png", alt="Twitter Logo")
        h1 Sign in to Twitter
        form(method="post") 
            input(type="text", name="logUsername", placeholder="Username or email", value=logUsername required="")
            input(type="password", name="logPassword", placeholder="Password", required="")
            input(type="submit", value="Sign in")
            p Don’t have an account? 
                a(href="/register") Sign up
            p#errorMessage.errorMessage #{errorMessage}